# **1. Configuración Básica en Google Colab**

In [ ]:
# Importar bibliotecas esenciales
import pandas as pd
import numpy as np

# Crear un dataframe de ejemplo
data = {
    'Nombre': ['Ana', 'Luis', 'Pedro', 'María'],
    'Edad': [23, 25, 21, 22],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla']
}

df = pd.DataFrame(data)
print("Ejemplo de DataFrame:")
print(df)

Ejemplo de DataFrame:
  Nombre  Edad     Ciudad
0    Ana    23     Madrid
1   Luis    25  Barcelona
2  Pedro    21   Valencia
3  María    22    Sevilla